mutt/cache/*
dwm/*
vim/view/
vim/vimfiles
*.swp
!dwm/config.h
!dwm/config.h.bak
!dwm/dwm.desktop
!dwm/dwm.install
!dwm/dwm-6.0-cycle.diff
!dwm/myconfigh.diff
!dwm/PKGBUILD
omz/*
!omz/aliases.zsh
!omz/themes/mine.zsh-theme
